### ignore everything but descend into directories
*
!*/

### allow files of this type in all subdirectories
!/**/.gitignore
!/**/*.py

### allow these files only in the current directory
!Readme.md
!medocr.yml

## explicitly exclude 

